@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&family=Orbitron:wght@700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

#particles-js {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
}

.calculator-light {
  padding: 12px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 12px -2px #a77cc4;
}

.nav-btn-light {
  justify-self: end;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: #afd2db;
}

.nav-btn-light svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.nav-time-light {
  background: #afd2db;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  max-width: 160px;
  width: 100%;
  align-items: center;
  color: #fff;
}

.nav-time-light p {
  width: 40px;
}

.calc-output-light {
  height: 80px;
  border: 2px solid #a77cc4;
  border-radius: 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;
  max-width: 300px;
  width: 100%;
}

.calc-out-light {
  color: #a77cc4;
  text-align: right;
  font-size: 1.5em;
  max-width: 250px;
  width: 100%;
}

.calc-out-secondary-light {
  width: 100%;
  color: #3851c9;
  text-align: right;
  font-size: 1em;
}

.btn-light {
  background: #afd2db;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 5px 3px 10px -9px #000000;
}

.btn-light:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

.btn-clear-light, .btn-remove-light {
  background: #a77cc4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 700;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 5px 3px 10px -9px #000000;
  color: #fff;
}

 .btn-remove-light:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

.btn-clear-light:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

.btn-remove-light svg {
  width: 30px;
  height: 20px;
  fill: #fff;
  margin-right: 3px;
}

.btn-operator-light {
  background: #3851c9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 700;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 5px 3px 10px -9px #000000;
}

.btn-operator-light:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

/* calculator window  */
.calculator {
  justify-self: center;
  align-self: center;
  padding: 12px;
  background: #333;
  border-radius: 15px;
  box-shadow: 0px 0px 12px -2px #232324;
}

/* calculator navgigation bar */
.calc-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 30px 0;
}

.nav-time {
  background: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  display: flex;
  max-width: 160px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-time p {
  width: 40px;
}

.nav-time__span {
  margin-right: 1px;
  margin-left: 1px;
}

.nav-btn {
  justify-self: end;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: #fff;
}

.nav-btn svg {
  width: 25px;
  height: 25px;
  fill: #333;
}

#nav-btn__light {
  display: none;
}

/* calculator output */
.calc-output {
  height: 80px;
  border: 2px solid gray;
  border-radius: 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;
  max-width: 300px;
  width: 100%;
}

.calc-out {
  color: #fff;
  text-align: right;
  font-size: 1.5em;
  max-width: 250px;
  width: 100%;
}

.calc-out-secondary {
  width: 100%;
  color: gray;
  text-align: right;
  font-size: 1em;
}

/* calculator buttons */
.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 75px);
  place-items: center;
}

.btn {
  background: #232324;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 700;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  box-shadow: 5px 3px 10px -9px #000000;
  color: #fff;
}

.btn:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

.btn-clear {
  background: gray;
}

.btn-clear:hover {
  box-shadow: 5px 5px 14px -9px #000000;
}

.btn-remove {
  background: gray;
}

.btn-remove svg {
  width: 30px;
  height: 20px;
  fill: #fff;
  margin-right: 3px;
}

.btn-operator {
  background: #fff;
  color: #333;
}/*# sourceMappingURL=main.css.map */